<p id="notice"><%= notice %></p>

<h2 class="center">Company Employees</h2>
<%= render partial: 'shared/employees', locals: { employees: @employees } %>
<%= link_to 'New Employee', new_employee_path %>
