<p id="notice"><%= notice %></p>

<h2 class="center">Companies</h2>
<%= render partial: 'shared/companies',
            locals: { companies: @companies, paginate: true } %>
<div class="center">
  <%= link_to 'New Company', new_company_path, class: 'btn btn-default' %>
</div>
