@import 'bootstrap-sprockets';
@import 'bootstrap';
//You need to now manually import every other scss file.
.center{
  text-align: center;
};

.panel{
  margin: 0 20px;
};

h3 {
  margin: 5px 25px 5px;
};
